#canvas{
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.50);
}

body {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

.game-background {
  background-image: url('../images/background.png');
  height: 1500px;
  background-size: cover;
}

.game-title {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: #ff3755;
  text-align: center;
  margin: 0 auto;
}

.score-bar {
  height: 125px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: repeating-linear-gradient(45deg, #ffb6c1, #ffb6c1 30px, #F5D2D7 30px, #F5D2D7 60px);
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.50);
  color: white;

}

.player-score, .target-score {
  border: 1px solid #ffffffb8;
  text-align: center;
  font-family: sans-serif;
  height: 75px;
  width: 400px;
  margin: 15px;
  border-radius: 10px;
  background: linear-gradient(#f7d0d6, #ff788c);
  box-shadow: 0 3px 15px 0 rgb(255, 251, 251, 1);
  margin-top: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  letter-spacing: 1px;
}

.moves-left {
  height: 115px;
  width: 170px;
  background: white;
  text-align: center;
  font-family: sans-serif;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: -2px -2px 15px 0 rgb(255, 251, 251, 1);
  border: 1px solid #ffffffb8;
  background: #F5D2D7;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.info-container {
  font-family: helvetica;
  margin-left: 70px;
  margin-top: 110px;
  width: 200px;
  text-align: center;
  position: absolute;
}

.connect-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 40px;
}

a {
  color: #483D8B;
}

h1 {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  margin-right: 10px;
  color: #483D8B;
}

.rules-cog {
  background: linear-gradient(#ffaab7, #ff3755);
  box-shadow: 0 6px 18px 0 rgba(0,0,0,.50);
  border: .7px solid #ec677b;
  width: 60px;
  height: 60px;
  border-radius: 180px;
  position: inherit;
  float: right;
  margin-right: 70px;
  margin-top: 130px;
  cursor: pointer;
}

.fa, .fas {
  color: #f7d0d6;
  padding-left: 2px;
}

.fa-cog:before {
    content: "\f013";
    font-size: 2rem;
    color: white;
}

.modal {
  background: rgb(128,128,128, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-rules {
  width: 50%;
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f7d0d6;
  border-radius: 10px;
  box-shadow: 0 6px 18px 0 rgba(0,0,0,.50);
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  box-sizing: border-box;
  color: black;
  line-height: 40px;
}

.rules-title {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: #ff3755;
}

.modal-winner, .modal-loser {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f7d0d6;
  border-radius: 10px;
  box-shadow: 0 6px 18px 0 rgba(0,0,0,.50);
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  text-align: center;
  box-sizing: border-box;
  color: #ff3755;
}

.highscore {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #6a5ce5;
  text-align: center;
  margin: 0 auto;
}
