#canvas{
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.50);
}

.game-background {
  background-image: url('../images/background.png');
  height: 1000px;
  background-size: cover;
}

.score-bar {
  height: 125px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: repeating-linear-gradient(45deg, #ffb6c1, #ffb6c1 30px, #F5D2D7 30px, #F5D2D7 60px);
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.50);
  color: white;

}

.player-score, .target-score {
  border: 1px solid #ffffffb8;
  text-align: center;
  font-family: sans-serif;
  height: 75px;
  width: 400px;
  margin: 15px;
  border-radius: 10px;
  background: linear-gradient(#f7d0d6, #ff788c);
  box-shadow: 0 3px 15px 0 rgb(255, 251, 251, 1);
  margin-top: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  letter-spacing: 1px;
}

.moves-left {
  height: 115px;
  width: 170px;
  background: white;
  text-align: center;
  font-family: sans-serif;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: -2px -2px 15px 0 rgb(255, 251, 251, 1);
  border: 1px solid #ffffffb8;
  background: #F5D2D7;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}
